/* ==========================================================================
ADMIN BAR
=========================================================================== */
.admin-enabled .navbar {
  top: 40px;
}
.admin-enabled .hero-leadbox {
  margin-top: 40px;
}
.admin-enabled .admin-bar {
  background: #141823;
  z-index: 1050;
  height: 40px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.admin-enabled .admin-bar input[type=submit] {
  background: #1062fe;
  color: #fff;
  border: 0;
  outline: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  float: left;
  line-height: 1;
}
.admin-enabled .admin-bar input[type=submit].edit-disabled {
  background: #2ecc71;
}
.admin-enabled .admin-bar input[type=submit].edit-enabled {
  background: #e74c3c;
}
.admin-enabled .admin-bar a {
  padding: 5px 10px;
  float: left;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}
*[contenteditable="true"] {
  border: 1px solid #F1CA7F;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
*[contenteditable="true"]:focus {
  border: 1px solid #F1CA7F;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0px 5px rgb(241, 202, 127);
}
a.k_block, a.k_inline {
  display: block;
  padding: 5px;
  color: #1062fe;
}
a.k_block:hover, a.k_inline:hover {
  text-decoration: underline;
}
a.k_inline {
  display: inline-block;
  padding: 5px 0;
}
.admin-enabled .edit-section {
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 5px solid #1062fe;
}
.admin-enabled a.edit-section-btn {
  position: absolute;
  background: #1062fe;
  line-height: 1;
  padding: 5px 10px;
  top: 0;
  left: 20px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-weight: 800;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.admin-enabled a.edit-section-btn:after {
  content: '\f3be';
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
  margin-left: 5px;
}

.admin-enabled a.edit-section-btn:hover {
  padding-top: 8px;
  text-decoration: none;
}

.tmask {
  width: 100% !important;
}
