<cms:capture into='my_content'>
	<cms:if k_show_form>
		<div class="login-page">
			<img src="https://pagepro.io/images/logo_white.svg" alt="PagePro" />
			<div class="form">
				<div class="simple-content">
					<div class="login-form">
						<form name="frm_forgotpass" action="" method="post">
							<cms:if k_message_class='error'>
								<div class="note border">
									<h2>Forgot your password?</h2>
									<p class="error">
										<cms:show k_message />
									</p>
								</div>
								<cms:else />
								<div class="note border">
									<h2>Forgot your password?</h2>
									<p>
										<cms:show k_message />
									</p>
								</div>
							</cms:if>

							<label><span class="required">*</span> Admin Username or Email</label>
							<input id="k_user_name" name="k_user_name" autofocus="autofocus" class="text autofocus email" placeholder="" required="required" type="text" value="" />
							<button class="mb-15" id="submit" type="submit">
								<cms:localize 'submit' /></button>
							<input type="hidden" name="k_submit" value="1" />

							<a href="<cms:show k_admin_link />login.php">Back to Login</a>
						</form>

					</div>
				</div>
			</div>
			<div class="login-footer">
				<p>&copy; <script>
						document.write(new Date().getFullYear())
					</script> - PagePro. All rights reserved.</p>
			</div>
		</div>
		<cms:else />
		<cms:if k_message_class='error'>
			<cms:show_error>
				<cms:show k_message />
			</cms:show_error>
			<cms:else />
			<cms:show_info>
				<cms:show k_message />
			</cms:show_info>
		</cms:if>
	</cms:if>
</cms:capture>
<cms:render 'simple' my_content />