/* INSTALLATION PAGE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection {
	background: rgba(16, 98, 254, 0.9);
}
.login-footer {
	margin: 0 5px 30px;
	color: #818da6;
	text-align: left;
	font-size: 12px;
}
.login-footer a {
	display: inline-block;
	padding-right: 20px;
	color: #818da6;
	font-weight: normal;
}
.login-footer a:last-child {
	padding-right: 0;
}
.login-page label {
	text-align: left;
	font-weight: normal;
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
	color: #142752;
}
.login-page img {
	max-width: 220px;
	display: block;
	margin: 0 5px 30px;
}

.login-page {
	max-width: 360px;
	width: 100%;
	padding: 5% 0 0;
	margin: auto 15px;
	display: inline-block;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 5px 30px;
	padding: 25px;
	text-align: center;
	border-radius: 5px;
}
.required {
	font-weight: 800;
}
.error, .required {
	color: #e74c3c
}
.success {
	color: #2ecc71;
}
.note {
	text-align: left;
	font-size: 14px;
	color: #142752;
}
.note.border {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #ecf0f1;
}
.note h2 {
	margin-bottom: 10px;
}
.note p {
	text-align: left;
	font-size: 14px;
	padding-bottom: 20px;
}
.note p:last-child {
	padding-bottom: 0;
}
.note a {
	color: #1062fe;
}
.form input {
	font-family: "Montserrat", sans-serif;
	outline: 0;
	background: #f8fafd;
	width: 100%;
	margin: 0 0 25px;
	padding: 8px 10px;
	height: 40px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #ecf0f1;
	color: #142752;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.form input:hover,
.form input:active,
.form input:focus:hover,
.form input:focus {
	border: 1px solid #bdc3c7;
	box-shadow: none;

}
.form button {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #1062fe;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.5 ease;
	transition: all 0.5 ease;
	cursor: pointer;
	font-weight: 800;
	border-radius: 5px;
}
.form button:hover,.form button:active,.form button:focus {
	background: #142752;
}
.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a {
	color: #4CAF50;
	text-decoration: none;
}
.form .register-form {
	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}
.container .info {
	margin: 50px auto;
	text-align: center;
}
.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}
.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}
.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
	color: #EF3B3A;
}
body {
	background: #142752 !important; /* fallback for old browsers */
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}
