<cms:capture into='my_content'>
	<noscript>
		<cms:show_warning>
			<cms:localize 'javascript_msg' />
		</cms:show_warning>
	</noscript>
	<div class="login-page">
		<img src="https://pagepro.io/images/logo_white.svg" alt="PagePro" />

		<div class="form">
			<div class="simple-content">
				<div class="login-form">
					<form name="frm_login" action="" method="post">
						<cms:if k_show_error>
							<cms:show_error>
								<cms:show k_error_msg />
							</cms:show_error>
						</cms:if>

						<label><span class="required">*</span> Admin Username</label>
						<input class="user" id="k_user_name" name="k_user_name" autofocus="autofocus" class="text autofocus" placeholder="" required="required" tabindex="1" type="text" value="" />

						<label><span class="required">*</span> Password</label>
						<input id="k_user_pwd" name="k_user_pwd" autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false" class="password" placeholder="" required="required" tabindex="2" type="password" value="" />

						<button class="mb-15" type="submit">
							<cms:localize 'login' /></button>

						<a href="<cms:show k_admin_link />forgotpassword.php">Forgot Your Password?</a>

						<input type="hidden" name="k_cookie_test" value="1" />
						<input type="hidden" name="k_login" value="1" />
					</form>

				</div>
			</div>
		</div>
		<div class="login-footer">
			<p>&copy; <script>
					document.write(new Date().getFullYear())
				</script> PagePro. All rights reserved.</p>
		</div>
	</div>
</cms:capture>

<cms:render 'simple' my_content />
