@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* GENERAL */
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body#simple-page {
  background: #142752 !important; /* fallback for old browsers */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}
::selection {
  background: rgba(16, 98, 254, 0.9);
}

/*------------------------------------------*/
/*  SPACING & INDENTS
/*------------------------------------------*/
.wide-100 { padding-top: 100px; padding-bottom: 100px; }
.wide-90 { padding-top: 100px; padding-bottom: 90px; }
.wide-80 { padding-top: 100px; padding-bottom: 80px; }
.wide-70 { padding-top: 100px; padding-bottom: 70px; }
.wide-60 { padding-top: 100px; padding-bottom: 60px; }
.wide-50 { padding-top: 100px; padding-bottom: 50px; }
.wide-40 { padding-top: 100px; padding-bottom: 40px; }
.wide-30 { padding-top: 100px; padding-bottom: 30px; }
.wide-20 { padding-top: 100px; padding-bottom: 20px; }

/*------------------------------------------*/
/*  Margin Top
/*------------------------------------------*/
.mt-100 { margin-top: 100px; }
.mt-95 { margin-top: 95px; }
.mt-90 { margin-top: 90px; }
.mt-85 { margin-top: 85px; }
.mt-80 { margin-top: 80px; }
.mt-75 { margin-top: 75px; }
.mt-70 { margin-top: 70px; }
.mt-65 { margin-top: 65px; }
.mt-60 { margin-top: 60px; }
.mt-55 { margin-top: 55px; }
.mt-50 { margin-top: 50px; }
.mt-45 { margin-top: 45px; }
.mt-40 { margin-top: 40px; }
.mt-35 { margin-top: 35px; }
.mt-30 { margin-top: 30px; }
.mt-25 { margin-top: 25px; }
.mt-20 { margin-top: 20px; }
.mt-15 { margin-top: 15px; }
.mt-10 { margin-top: 10px; }
.mt-5 { margin-top: 5px; }

/*------------------------------------------*/
/*  Margin Bottom
/*------------------------------------------*/
.mb-100 { margin-bottom: 100px; }
.mb-95 { margin-bottom: 95px; }
.mb-90 { margin-bottom: 90px; }
.mb-85 { margin-bottom: 85px; }
.mb-80 { margin-bottom: 80px; }
.mb-75 { margin-bottom: 75px; }
.mb-70 { margin-bottom: 70px; }
.mb-65 { margin-bottom: 65px; }
.mb-60 { margin-bottom: 60px; }
.mb-55 { margin-bottom: 55px; }
.mb-50 { margin-bottom: 50px; }
.mb-45 { margin-bottom: 45px; }
.mb-40 { margin-bottom: 40px; }
.mb-35 { margin-bottom: 35px; }
.mb-30 { margin-bottom: 30px; }
.mb-25 { margin-bottom: 25px; }
.mb-20 { margin-bottom: 20px; }
.mb-15 { margin-bottom: 15px; }
.mb-10 { margin-bottom: 10px; }
.mb-5 { margin-bottom: 5px; }
.mb-0 { margin-bottom: 0; }

/*------------------------------------------*/
/*  Margin Left
/*------------------------------------------*/
.ml-70 { margin-left: 70px; }
.ml-60 { margin-left: 60px; }
.ml-50 { margin-left: 50px; }
.ml-45 { margin-left: 45px; }
.ml-40 { margin-left: 40px; }
.ml-35 { margin-left: 35px; }
.ml-30 { margin-left: 30px; }
.ml-25 { margin-left: 25px; }
.ml-20 { margin-left: 20px; }
.ml-15 { margin-left: 15px; }
.ml-10 { margin-left: 10px; }
.ml-5 { margin-left: 5px; }

/*------------------------------------------*/
/*  Margin Right
/*------------------------------------------*/
.mr-70 { margin-right: 70px; }
.mr-60 { margin-right: 60px; }
.mr-50 { margin-right: 50px; }
.mr-45 { margin-right: 45px; }
.mr-40 { margin-right: 40px; }
.mr-35 { margin-right: 35px; }
.mr-30 { margin-right: 30px; }
.mr-25 { margin-right: 25px; }
.mr-20 { margin-right: 20px; }
.mr-15 { margin-right: 15px; }
.mr-10 { margin-right: 10px; }
.mr-5 { margin-right: 5px; }

/*------------------------------------------*/
/*  Padding Top
/*------------------------------------------*/
.pt-100 { padding-top: 100px; }
.pt-90 { padding-top: 90px; }
.pt-80 { padding-top: 80px; }
.pt-70 { padding-top: 70px; }
.pt-60 { padding-top: 60px; }
.pt-50 { padding-top: 50px; }
.pt-45 { padding-top: 45px; }
.pt-40 { padding-top: 40px; }
.pt-35 { padding-top: 35px; }
.pt-30 { padding-top: 30px; }
.pt-25 { padding-top: 25px; }
.pt-20 { padding-top: 20px; }
.pt-15 { padding-top: 15px; }
.pt-10 { padding-top: 10px; }

/*------------------------------------------*/
/*  Padding Bottom
/*------------------------------------------*/
.pb-100 { padding-bottom: 100px; }
.pb-90 { padding-bottom: 90px; }
.pb-80 { padding-bottom: 80px; }
.pb-70 { padding-bottom: 70px; }
.pb-60 { padding-bottom: 60px; }
.pb-50 { padding-bottom: 50px; }
.pb-45 { padding-bottom: 45px; }
.pb-40 { padding-bottom: 40px; }
.pb-35 { padding-bottom: 35px; }
.pb-30 { padding-bottom: 30px; }
.pb-25 { padding-bottom: 25px; }
.pb-20 { padding-bottom: 20px; }
.pb-15 { padding-bottom: 15px; }
.pb-10 { padding-bottom: 10px; }
.pb-0 { padding-bottom: 0; }

/*------------------------------------------*/
/*  Padding Left
/*------------------------------------------*/
.pl-100 { padding-left: 100px; }
.pl-90 { padding-left: 90px; }
.pl-80 { padding-left: 80px; }
.pl-70 { padding-left: 70px; }
.pl-60 { padding-left: 60px; }
.pl-50 { padding-left: 50px; }
.pl-45 { padding-left: 45px; }
.pl-40 { padding-left: 40px; }
.pl-35 { padding-left: 35px; }
.pl-30 { padding-left: 30px; }
.pl-25 { padding-left: 25px; }
.pl-20 { padding-left: 20px; }
.pl-15 { padding-left: 15px; }
.pl-10 { padding-left: 10px; }
.pl-5 { padding-left: 5px; }
.pl-0 { padding-left: 0px; }

/*------------------------------------------*/
/*  Padding Right
/*------------------------------------------*/
.pr-100 { padding-right: 100px; }
.pr-90 { padding-right: 90px; }
.pr-80 { padding-right: 80px; }
.pr-70 { padding-right: 70px; }
.pr-60 { padding-right: 60px; }
.pr-50 { padding-right: 50px; }
.pr-45 { padding-right: 45px; }
.pr-40 { padding-right: 40px; }
.pr-35 { padding-right: 35px; }
.pr-30 { padding-right: 30px; }
.pr-25 { padding-right: 25px; }
.pr-20 { padding-right: 20px; }
.pr-15 { padding-right: 15px; }
.pr-10 { padding-right: 10px; }
.pr-5 { padding-right: 5px; }
.pr-0 { padding-right: 0px; }

/*------------------------------------------*/
/*  Padding Centered
/*------------------------------------------*/
.pc-45 { padding-right: 45px; padding-left: 45px; }
.pc-40 { padding-right: 40px; padding-left: 40px; }
.pc-35 { padding-right: 35px; padding-left: 35px; }
.pc-30 { padding-right: 30px; padding-left: 30px; }
.pc-25 { padding-right: 25px; padding-left: 25px; }
.pc-20 { padding-right: 20px; padding-left: 20px; }
.pc-15 { padding-right: 15px; padding-left: 15px; }


/* LOGIN PAGE */
#simple-wrap {
  top: 0;
  max-width: 360px;
  width: 100%;
  padding: 0;
}
.login-page img {
  max-width: 220px;
  height: 100%;
  display: block;
  margin: 0 0 30px;
}
.login-page {
  max-width: 360px;
  width: 100%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}
.login-page .form a {
  color: #1062fe;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 0 30px;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}
.login-page .form label {
  text-align: left;
  font-weight: normal;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #142752;
}
.login-page .form input {
  font-family: "Montserrat", sans-serif;
  outline: 0;
  background: #f8fafd;
  width: 100%;
  margin: 0 0 25px;
  padding: 8px 10px;
  height: 40px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #ecf0f1;
  color: #142752;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.login-page .form input:hover,
.login-page .form input:active,
.login-page .form input:focus:hover,
.login-page .form input:focus {
  border: 1px solid #bdc3c7;
  background: #fff;
  box-shadow: none;
}
.login-page .form button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1062fe;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  cursor: pointer;
  font-weight: 800;
  border-radius: 5px;
}
.login-page .form button:hover,
.login-page .form button:active,
.login-page .form button:focus {
  background: #142752;
}
.login-page .note {
  text-align: left;
  font-size: 14px;
  color: #142752;
}
.login-page .note.border {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ecf0f1;
}
.login-page .note h2 {
  margin-bottom: 10px;
}
.login-page .note p {
  text-align: left;
  font-size: 14px;
  padding-bottom: 20px;
}
.login-page .note p:last-child {
  padding-bottom: 0;
}
.login-page .note a {
  color: #1062fe;
}
.required {
  font-weight: 800;
}
.error, .required {
  color: #e74c3c
}
.success {
  color: #2ecc71;
}
.login-footer {
  color: #818da6;
  text-align: left;
  font-size: 12px;
  margin: 0 5px 30px;
}
.login-footer a {
  display: inline-block;
  padding-right: 20px;
  color: #818da6;
  font-weight: normal;
}
.login-footer a:last-child {
  padding-right: 0;
}


/* MAIN CSS */
* {
  text-shadow: none !important;
}
#scroll-content {
  background: #f2f4f8;
}
#sidebar {
  border-right: 1px solid rgba(255,255,255,0.1);
  background-color: #142752;
}
#sidebar-top {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: none;
}
#logo-wrap {
  display: block;
  padding: 30px 10px;
}
#logo-wrap img {
  max-width: 150px;
}
#menu-wrap {
  position: relative;
  border-bottom: 0;
  background-color: #142752;
  box-shadow: none;
}
.sidebar-txt {
  height: 35px;
  padding: 10px;
  background-color: #142752;
  text-shadow: none;
}
.sidebar-txt > p {
  color: #818da6;
}
.sidebar-txt > p > a {
  color: #a9baca;
}
.sidebar-txt > p > a:hover {
  color: #fff;
}
#sidebar-btns {
  background-color: #142752;
}
#sidebar-btns>.btn {
  border-color: #142752;
}
#sidebar-btns>.btn-primary,
.btn-primary.btn-menu {
  box-shadow: none;
}
#nav-links > a,
#nav-links > a:active,
#nav-links > a:focus {
  color: #a9baca;
  display: block;
  text-align: left;
  margin: 0;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
#nav-links > a:hover {
  color: #fff;
  text-decoration: none;
}
#nav-links > a > i {
  margin-right: 5px;
  font-weight: normal;
}
#nav-links .nav-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  display: block;
  padding: 0 15px;
  margin-top: 30px;
}
.btn.btn-primary,
.nav-group > ul > li > .nav-active,
#nav > li > .nav-active:hover,
#nav > li > .nav-active:focus,
.nav-group > ul > li > .nav-active {
  background: #1062fe !important;
  font-weight: bold;
}

#nav > li > a,
.nav-group > ul > li > a,
.nav-heading.collapsed .nav-heading-toggle {
  color: #a9baca;
}
#nav > li > a:hover,
#nav > li > a:focus,
.nav-group > ul > li > a:hover {
  background-color: rgba(0,0,0,0.25);
  color: #fff;
  fill: #fff;
}
.nav-heading .nav-heading-toggle,
.nav-heading .nav-heading-toggle:hover,
.nav-heading .nav-heading-toggle:focus:hover,
.nav-heading .nav-heading-toggle,
.nav-heading.collapsed .nav-heading-toggle:hover,
.nav-heading.collapsed .nav-heading-toggle:focus:hover {
  color: #fff;
}
.nav-heading.collapsed .nav-heading-toggle:focus,
.nav-group > ul > li > a:focus {
  color: #a9baca;
}
.nav-icon > .i {
  display: none;
}

#header {
  background-color: #fff;
  border-bottom: 1px solid rgba(20,39,82,0.2);
}
#header-title {
  color: #142752;
  line-height: 1;
}
.tab > a {
  border-color: rgba(20,39,82,0.2);
}
.tab.active > a,
.tab.active > a:hover,
.tab.active > a:focus {
  background-color: #f2f4f8;
  color: #142752;
  fill: #142752;
}
.btn, .btn:hover, .btn:focus {
  background-color: #fff;
  color: #142752;
  fill: #142752;
}
.btn.btn-primary {
  color: #fff;
  fill: #fff;
}
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn-primary.btn-menu.toggled {
  box-shadow: none;
}
.btn.btn-primary,
.append>.login-swap:hover,.append>.login-swap:focus,
#nav>li>.nav-active,#nav>li>.nav-active:hover,#nav>li>.nav-active:focus,.nav-group>ul>li>.nav-active,.nav-group>ul>li>.nav-active:hover,.nav-group>ul>li>.nav-active:focus,
.nav-count,.gallery-img-link.gallery-img-folder,
.btn-menu.toggled,
.table.table-primary>thead,
.ctrl>input:checked+span.ctrl-option,.ctrl>input:active+span.ctrl-option,
.ctrls-checkbox>label>input:checked+span.ctrl-option,.ctrls-checkbox>label>input:active+span.ctrl-option,
.ctrls-radio>label>input:checked+span.ctrl-option,.ctrls-radio>label>input:active+span.ctrl-option,
.checklist>li>label>input:checked+span.ctrl-option,.checklist>li>label>input:active+span.ctrl-option,
.panel-heading.panel-primary {
  background-color:#142752;
}
.ctrl-bot {
  border-top: 1px solid rgba(20,39,82,0.2);
}
.nav-heading:before,
#nav-links,
#sidebar-btns {
  border-top: 1px solid rgba(255,255,255,0.1);
}
.nav-heading:after,
#nav-links:after,
#sidebar-btns:after {
  border-top: 0
}
.panel-body {
  border-color: rgba(20,39,82,0.2);
}
#settings-panel-toggle.expanded {
  background-color: #142752;
}
a {
  color: #142752;
}
a:hover {
  color: #1062fe;
  text-decoration: none;
}
label {
  color: #142752;
}
.btn-menu {
  padding-right: 20px;
  padding-left: 20px;
}
input[type="text"],
input[type="password"],
textarea,
select {
  padding: 10px;
  border: 1px solid rgba(20,39,82,0.2);
  color: #26365c;
  height: 38px;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  border-color: rgba(0,0,0,0.2);
}
input[type="text"]:focus,
input[type="text"]:hover:focus,
input[type="password"]:focus,
input[type="password"]:hover:focus,
textarea:focus,
textarea:hover:focus,
select:focus,
select:hover:focus,
.nicEdit-mainContain.nicEdit-mainSelected {
  border-color:rgba(20, 39, 82,.2);
  box-shadow:0 0 3px rgba(16, 98, 254,.2);
}
textarea, .textarea {
  min-height: 125px
}
.input-group-field+.btn:focus, .input-group-field+.btn:active {
  background-color: #142752;
}
#sidebar-toggle {
  width: 25px;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  display: none;
}
#nav>li>a, .nav-group>ul>li>a {
  padding: 5px 15px;
  font-size: 100%;
  height: auto;
}
.desc {
  color: #142752;
  font-weight: normal;
}
.label.label-txt {
  color: red;
}
.field>label {
  margin-bottom: 8px;
  font-size: 13px;
}
.table>tbody>tr>td>a {
  color: #1062fe;
}
.table>tbody>tr>td>a:hover {
  color: #142752;
}
.table>tbody>tr:hover,
.table>tbody>tr.selected {
  background-color: #fff;
}
#admin_wrapper_system_fields .k_element {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
#admin_wrapper_custom_fields .k_element {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
#admin_wrapper_custom_fields .k_element:last-child {
  border-bottom: 0;
  padding-bottom: 5px;
}
.table.table-primary,
.table.table-primary>thead>tr>th {
  border-color: rgba(20,39,82,0.2);
}
.alert {
  position: relative;
  margin: 15px 0 30px;
}
.alert-icon {
  padding-left: 15px;
}
.toast-error {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alert-info, .toast-info {
  border-color: #b6dbf9;
  background-color: #dcefff;
  color: #2196f3;
  fill: #2196f3;
}
.alert-icon>.i {
  display: none;
  position: relative;
  top: initial;
  left: initial;
  min-width: 30px;
  width: 30px;
  margin-top: 0;
  margin-right: 15px;
  align-self: center;
}
.select>.select-caret {
  height: auto;
  top: 3px;
}
.select>select:focus+.select-caret>.i,
.prepend>.text:focus~.i,
.prepend>.password:focus~.i {
  fill: #1062fe;
}
.btn-menu, .btn-menu:active, .btn-menu:hover {
  height: 47px;
  padding: 15px 15px 14px;
  border-color: #142752;
}
.btn-alt {
  box-shadow: none;
}
.nav-heading {
  padding: 20px 0;
  margin: 20px 0 10px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
#nav-links {
  margin: 20px 0;
  padding: 0;
}
.nav-heading-toggle {
  width: 100%;
  padding: 0 10px;
}
.nav-heading.collapsed .nav-heading-btn,
.nav-heading.collapsed .nav-heading-toggle:focus>.nav-heading-btn {
  width: 18px;
  height: 18px;
  color: #142752;
  background: #a9baca;
}
.nav-heading .nav-heading-btn,
.nav-heading.collapsed .nav-heading-toggle:focus:hover>.nav-heading-btn {
  width: 18px;
  height: 18px;
  background: #fff;
  color: #142752;
}
.nav-heading-toggle:hover>.nav-heading-btn,
.nav-heading-toggle:focus>.nav-heading-btn {
  background-color: #f2f4f8;
  color: #142752;
  box-shadow: none;
}
.nav-heading:before, .nav-heading:after {
  display: none;
}
.nav-heading:first-child {
  margin-top: 0;
  border-top: 0;
}
.panel-heading,
.panel-heading:hover,
.panel-heading:focus {
  border: 1px solid #142752;
  color: #fff;
  background: #142752;
}
.panel-toggle:after,
.panel-toggle:hover:after,
.panel-toggle:focus:after {
  color: #142752;
  background: #fff;
  box-shadow: none;
}
.panel-body>.field>.field-label>.desc,
.panel-heading>.desc {
  color: #8390a7;
}

@media (max-width: 950px) {
  .panel-body-toggle {
    display: none;
  }
  .panel-toggle+.panel-body>.field:last-of-type {
    padding-bottom: 15px;
  }
}

@media (max-width: 761px) {
  #logo-wrap {
    margin: 0;
  }
  #menu-btns {
    right: 10px;
  }
  #sidebar-bot {
    border-top: 0;
    border-bottom: 0;
    padding: 0 15px;
    text-align: left;
  }
  #sidebar-bot:after {
    border-top: 0;
  }
  #nav-links {
    display: block;
  }
}
